.footer {
  justify-content: flex-start;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.body {
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
  width: 100%;
}

.spinnerContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.contactModal {
  height: 560px;
}

.listItem {
  cursor: pointer;
}

.listItem:hover {
  background: #f1f1f1;
}

.searchContainer {
  margin-top: 20px;
}
